@model EmPoderTIC.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}


@if (User.Identity.IsAuthenticated)
{
    <script>
        // Si el usuario ya ha iniciado sesión, redirigir automáticamente a la página principal
        window.location.href = '@Url.Action("Perfil", "Insignia")';
    </script>
}

else
{


    <link rel="stylesheet" href="~/Content/css/login.css">

    <!--========================================
           contenido
        ==========================================-->


    <div class="contenedor-login">

        <!--========================================
            Slider
        ==========================================-->
        <div class="contenedor-slider">

            <div class="slider">

                <!-- Slide 1 -->
                <div class="slide fade ">
                    <img src="~/Content/img/slider_1.png" alt="">
                </div>

                <!-- Slide 2 -->
                <div class="slide fade">
                    <img src="~/Content/img/slider_2.png" alt="">
                </div>


            </div>

            <!-- Botones next y prev -->
            <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
            <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>

            <!-- dots -->
            <div class="dots">

                <!-- <span class="dot active"></span> -->

            </div>

        </div>

        <!--========================================
            Formularios
        ==========================================-->
        <div class="contenedor-texto">
            <div class="contenedor-form">
                <h1 class="titulo">¡Bienvenido a EmPoderTIC!</h1>
                <p class="descripcion">Donde Tu Reconocimiento Comienza.</p>


                <!--========================================
        Formulario login
    ==========================================-->
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "formLogin", @class = "formulario active" }))
                {
                    @Html.AntiForgeryToken()

                    <div>
                        @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                    </div>
                    @Html.TextBoxFor(model => model.correo, new { @class = "input-text", placeholder = "Correo" })
                    <div>
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                    <div class="grupo-input">
                        @Html.PasswordFor(model => model.password, new { @class = "input-text clave", placeholder = "Contraseña" })
                        <button type="button" class="icono fas fa-eye mostrarClave" style="color: black;"></button>
                    </div>



                    <a href="#" class="link">¿Ovidaste tu contraseña?</a>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <button class="btn" id="btnLogin" type="submit">Iniciar Sesión</button>
                }
            </div>
                </div>
    </div>


    <script src="~/Content/js/login_registro.js"></script>

}