@model EmPoderTIC.Models.USUARIO

@{
    ViewBag.Title = "Registro Usuario";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}





<link rel="stylesheet" href="~/Content/css/login.css">

<!--========================================
       contenido
    ==========================================-->


<div class="contenedor-login">

    <!--========================================
        Slider
    ==========================================-->
    <div class="contenedor-slider">

        <div class="slider">

            <!-- Slide 1 -->
            <div class="slide fade ">
                <img src="~/Content/img/slider_1.png" alt="">
            </div>

            <!-- Slide 2 -->
            <div class="slide fade">
                <img src="~/Content/img/slider_2.png" alt="">
            </div>


        </div>

        <!-- Botones next y prev -->
        <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
        <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>

        <!-- dots -->
        <div class="dots">

            <!-- <span class="dot active"></span> -->

        </div>

    </div>

    <!--========================================
        Formularios
    ==========================================-->
    <div class="contenedor-texto">
        <div class="contenedor-form">
            <h1 class="titulo">¡Bienvenido a EmPoderTIC!</h1>
            <p class="descripcion">Donde Tu Reconocimiento Comienza.</p>


            <!--========================================
        Formulario login
    ==========================================-->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div>
                    @Html.ValidationMessageFor(model => model.rut, "", new { @class = "text-danger" })
                </div>
                @Html.EditorFor(model => model.rut, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese su Rut sin puntos y con guión" } })


                <div>
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>

                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese su Nombre" } })

                <div>
                    @Html.ValidationMessageFor(model => model.apellido_paterno, "", new { @class = "text-danger" })
                </div>

                @Html.EditorFor(model => model.apellido_paterno, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese su Apellido Paterno" } })

                <div>
                    @Html.ValidationMessageFor(model => model.apellido_materno, "", new { @class = "text-danger" })
                </div>

                @Html.EditorFor(model => model.apellido_materno, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese su Apellido Materno" } })

                <div>
                    @Html.ValidationMessageFor(model => model.correo_electronico, "", new { @class = "text-danger" })
                </div>

                @Html.EditorFor(model => model.correo_electronico, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese su Correo Institucional" } })

                <div>
                    @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
                </div>

                @Html.PasswordFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese su Nombre" } })

              

                @Html.HiddenFor(model => model.TIPO_PERFIL_tipo_perfil_id, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese su tipo perfil" } })

                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <button class="btn" type="submit">Registrarse</button>
                </div>
            }
        </div>
    </div>
</div>


<script src="~/Content/js/login_registro.js"></script>

