@model EmPoderTIC.Models.EVENTO

@{
    ViewBag.Title = "Delete";
}

@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}


@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="~/Content/css/CRUD_delete.css">

    <br />
    <div class="container-delete">
        <div class="form-container-delete">
            <h2> Eliminar Evento </h2>
            <h3>¿Estás seguro que quieres eliminar a este Evento?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Nombre:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nombre)
                    </dd>

                    <dt>
                        Descripción:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.descripcion)
                    </dd>

                    <dt>
                        Tipo de Evento:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tipo_evento)
                    </dd>

                    <dt>
                        Fecha de Evento:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fecha_evento)
                    </dd>

                    <dt>
                        Hora de Evento:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.hora_evento)
                    </dd>

                    <dt>
                        Lugar de Evento:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lugar_evento)
                    </dd>

                    <dt>
                        Area de Conocimiento:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AREA.area_conocimiento)
                    </dd>

                    <dt>
                        Competencia de Conocimiento:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.COMPETENCIA.competencia_conocimiento)
                    </dd>

                    <dt>
                        Insignia:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.INSIGNIA.nombre)
                    </dd>

                </dl>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-sm btn-custom-link" }) |
                        <input type="submit" value="Eliminar" class="btn btn-sm btn-primary-custom" />
                    </div>
                }
            </div>
        </div>
    </div>

}

else
{
    <link rel="stylesheet" href="~/Content/css/accesodenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}