@model List<EmPoderTIC.Models.INSIGNIA>

@{
    ViewBag.Title = "Perfil - EmPoderTIC";
}



@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Colaborador administrativo" && Session["UsuarioAutenticado"] != null)
{
    Layout = "~/Views/Shared/_LayoutPerfil3.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}


@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Colaborador administrativo")
{

    <link rel="stylesheet" href="~/Content/css/perfil.css">

    <!--========================================
           contenido
        ==========================================-->
    <div id="header">
        <div class="mini-container-perfil">
            <div class="mini-mini-container-perfil">
                <div class="perfil-titulos">
                    @foreach (var usuario in ViewBag.InformacionUsuarios)
                    {
                        <h2>Perfil: @usuario.TIPO_PERFIL.nombre_tipo_perfil</h2>
                        <h3>@usuario.nombre @usuario.apellido_paterno</h3>
                        <h3>Email Duoc UC: @usuario.correo_electronico</h3>
                    }
                </div>
                <div class="perfil-datos">
                    <p>Informática y telecomunicaciones</p>
                    <p>Ingeniería en informática</p>
                    <div class="mi-linea"></div>
                    <p>Duoc UC, San Andrés Concepción</p>
                </div>
            </div>

        </div>


        <!--========================================
        Insignias de Reconocimiento Certificadas
        ==========================================-->


        <h1>Insignias de Reconocimiento Certificadas</h1>
        @if (ViewBag.InsigniasDeNivel3 != null && ViewBag.InsigniasDeNivel3.Count > 0)
        {
            foreach (var insignia_desbloqueada in ViewBag.InsigniasDeNivel3)
            {
                <div class="mini-container">

                    <div class="contenido-insignia">
                        <div class="insignias-titulos">
                            <h3>@insignia_desbloqueada.INSIGNIA.nombre</h3>
                            <h4>@insignia_desbloqueada.INSIGNIA.NIVEL.categoría_nivel_insignia</h4>
                            <br>
                            <p>@insignia_desbloqueada.INSIGNIA.objetivo</p>
                        </div>
                    </div>
                    <div class="imagen-insignia">
                        <img src="@insignia_desbloqueada.INSIGNIA.imagen_url" alt="Insignia">
                    </div>
                    <!-- Botón con opciones -->
                    <div class="opciones-container">
                        <button id="opciones-btn-@insignia_desbloqueada.INSIGNIA.insignia_id" class="opciones-btn">
                            <i class="fas fa-share"></i>
                        </button>
                        <div class="menu-opciones menu-opciones-@insignia_desbloqueada.INSIGNIA.insignia_id oculto">
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url=@insignia_desbloqueada.INSIGNIA.imagen_url&title=@insignia_desbloqueada.INSIGNIA.nombre&summary=@insignia_desbloqueada.INSIGNIA.objetivo" class="linkedin" target="_blank">Compartir en LinkedIn</a>
                            <div class="dropdown-divider"></div>
                            <a id="solicitarInsigniaLink" href="@Url.Action("SolicitarInsigniaComoLogro", "Notificacion", new { insignia_id = insignia_desbloqueada.INSIGNIA.insignia_id})">Solicitar Insignia como Logros para LinkedIn</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="mini-container">
                <div class="contenido-insignia">
                    <div class="insignias-titulos">
                        <h3>Lo sentimos, usted no cuenta con ninguna Insignia Certificada</h3>
                        <h4> Participa en los Eventos del Programa Más Mujeres en las TICs</h4>
                    </div>
                </div>
                <div class="imagen-insignia">
                    <img src="https://i.ibb.co/fpkN5nm/Insignia-Perfil3-No-Disponible.png" alt="Insignia-Perfil3-No-Disponible" border="0">
                </div>
            </div>
        }

        <!--========================================
        Insignias de Reconocimiento Nivel 1 y 2
        ==========================================-->


        <h1>Insignias de Reconocimiento</h1>
        @if (ViewBag.InsigniasDeNivel1y2 != null && ViewBag.InsigniasDeNivel1y2.Count > 0)
        {
            foreach (var insignia_desbloqueada in ViewBag.InsigniasDeNivel1y2)
            {
                <div class="mini-container">
                    <div class="contenido-insignia">
                        <div class="insignias-titulos">
                            <h3>@insignia_desbloqueada.INSIGNIA.nombre</h3>
                            <h4>@insignia_desbloqueada.INSIGNIA.NIVEL.categoría_nivel_insignia</h4>
                            <br>
                            <p>@insignia_desbloqueada.INSIGNIA.objetivo</p>
                        </div>
                    </div>
                    <div class="imagen-insignia">
                        <img src="@insignia_desbloqueada.INSIGNIA.imagen_url" alt="Insignia">
                    </div>
                    <div class="opciones-container">
                        <button id="opciones-btn-@insignia_desbloqueada.INSIGNIA.insignia_id" class="opciones-btn">
                            <i class="fas fa-share"></i>
                        </button>
                        <div class="menu-opciones menu-opciones-@insignia_desbloqueada.INSIGNIA.insignia_id oculto">
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url=@insignia_desbloqueada.INSIGNIA.imagen_url&title=@insignia_desbloqueada.INSIGNIA.nombre&summary=@insignia_desbloqueada.INSIGNIA.objetivo" class="linkedin" target="_blank">Compartir en LinkedIn</a>
                            <div class="dropdown-divider"></div>
                            <a id="solicitarInsigniaLink" href="@Url.Action("SolicitarInsigniaComoLogro", "Notificacion", new { insignia_id = insignia_desbloqueada.INSIGNIA.insignia_id})">Solicitar Insignia como Logros para LinkedIn</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="mini-container">
                <div class="contenido-insignia">
                    <div class="insignias-titulos">
                        <h3>Lo sentimos, usted no cuenta con Insignias desbloqueadas</h3>
                        <h4> Participa en los Eventos del Programa Más Mujeres en las TICs</h4>
                    </div>
                </div>
                <div class="imagen-insignia">
                    <img src="https://i.ibb.co/fpkN5nm/Insignia-Perfil3-No-Disponible.png" alt="Insignia-Perfil3-No-Disponible" border="0">
                </div>
            </div>
        }



        <!--========================================
        Otro mini container
        ==========================================-->
        <h1>Historial de participación</h1>
        @if (ViewBag.EventosConAsistencia != null && ViewBag.EventosConAsistencia.Count > 0)
        {
            foreach (var evento in ViewBag.EventosConAsistencia)
            {
                <div class="mini-container">
                    <div class="historial-titulos">
                        <h3>@evento.nombre</h3>
                    </div>
                    <div class="fecha-historial">
                        <p> @evento.fecha_evento.ToString("dddd dd MMMM yyyy")</p>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="mini-container">
                <div class="historial-titulos">
                    <h3>Lo sentimos, usted no ha asistido a ningún Evento</h3>
                    <h4> Participa en los Eventos del Programa Más Mujeres en las TICs</h4>
                </div>
            </div>
        }

    </div>
    <script src="~/Content/js/perfil.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Agrega un controlador de clic al botón
            $('.opciones-btn').on('click', function () {
                var menuOpciones = $(this).next('.menu-opciones');

                // Oculta todos los menús de opciones excepto el que se hace clic
                $('.menu-opciones').not(menuOpciones).hide();

                // Muestra u oculta el menú de opciones al hacer clic en el botón
                menuOpciones.toggle();
            });

            // Cierra el menú de opciones cuando se hace clic en cualquier parte de la página
            $(document).on('click', function (e) {
                if (!$(e.target).closest('.opciones-container').length) {
                    $('.menu-opciones').hide();
                }
            });

            // Evita que el clic en el menú de opciones se propague al documento
            $('.opciones-container .menu-opciones').on('click', function (e) {
                e.stopPropagation();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Agregar un manejador de clic al enlace "Solicitar Insignia como Logros para LinkedIn"
            $("a#solicitarInsigniaLink").click(function (e) {
                e.preventDefault(); // Evita que el enlace se abra en una nueva página

                // Muestra el modal
                $("#modal").css("display", "block");
            });

            // Agregar un manejador de clic al botón de cierre del modal
            $(".close").click(function () {
                // Cierra el modal
                $("#modal").css("display", "none");
            });
        });
    </script>
}

else
{
    <link rel="stylesheet" href="~/Content/css/accesodenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible Colaboradores administrativos</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}
