@model EmPoderTIC.Models.ASISTENCIA

@{
    ViewBag.Title = "Delete";
}

@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="~/Content/css/CRUD_delete.css">


    <div class="container-delete">
        <div class="form-container-delete">
            <h2> Eliminar Asistencia para Evento </h2>
            <h3>¿Estás seguro que quieres eliminar está Asistencia de Evento?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Registro de asistencia:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.registro_asistencia_evento)
                    </dd>

                    <dt>
                        Usuario:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.USUARIO.nombre)
                    </dd>

                    <dt>
                        Evento:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EVENTO.nombre)
                    </dd>

                </dl>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }

                @using (Html.BeginForm("DeleteConfirmed", "Asistencia", new { USUARIO_rut = Model.USUARIO_rut, EVENTO_evento_id = Model.EVENTO_evento_id }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-sm btn-custom-link" }) |
                        <input type="submit" value="Eliminar" class="btn btn-sm btn-primary-custom" />
                    </div>
                }
            </div>
        </div>
    </div>
}

else
{
    <link rel="stylesheet" href="~/Content/css/accesodenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}