@model IEnumerable<EmPoderTIC.Models.NOTIFICACION>

@{
    ViewBag.Title = "Index";

}

@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}


@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="~/Content/css/CRUD.css">


    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Gestión de <b>Notificaciones</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("ListaNotificaciones")" class="btn btn-success">
                                <i class="material-icons">arrow_back</i>
                                Volver
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> Notificaciones</th>
                            <th> Tipo de Perfil </th>
                            <th> ¿Solicitud Aprobada? </th>
                            <th> Estado</th>
                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td> El usuario @item.USUARIO_rut @item.mensaje - @item.fecha.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td>  @Html.DisplayFor(modelItem => item.USUARIO.TIPO_PERFIL.nombre_tipo_perfil) </td>
                                <td>  @Html.DisplayFor(modelItem => item.solicitud_aprobada) </td>
                                <td>
                                    @if (item.activo)
                                    {
                                        <span class="badge bg-success">Activo</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Inactivo</span>
                                    }
                                </td>
                                <td style="width: 140px;">
                                    <!-- Enlace "Edit" dentro de un botón -->
                                    <a href="#" class="edit" data-url="@Url.Action("Edit", new { id = item.notificacion_id })">
                                        <i class="material-icons" data-toggle="tooltip" title="Modificar Estado de Notificación">&#xE254;</i>
                                        <span style="display: none;">Edit</span>
                                    </a>

                                    <button class="btn btn-lg toggle-estado" data-url="@Url.Action("ToggleEstado", new { notificacionId = item.notificacion_id })">
                                        <span class="icon">
                                            <i class="material-icons on" style="font-size: 1.5em; color: #4CAF50; display: @(item.activo ? "inline-block" : "none")">toggle_on</i>
                                            <i class="material-icons off" style="font-size: 1.5em; color: #e74c3c; display: @(!item.activo ? "inline-block" : "none")">toggle_off</i>
                                        </span>
                                        <span style="display: none;">Toggle Estado</span>
                                    </button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        $(document).ready(function () {
            $(".toggle-estado").click(function (e) {
                e.preventDefault();

                var url = $(this).data("url");

                // Realizar la petición AJAX para cambiar el estado
                $.post(url, function () {
                    // Recargar la página después de cambiar el estado
                    location.reload();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".edit").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".delete").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

}

else
{
    <link rel="stylesheet" href="~/Content/css/accesodenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}