@model IEnumerable<EmPoderTIC.Models.OTORGAR_INSIGNIA_P3>

@{
    ViewBag.Title = "Index";

}

@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}


@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="~/Content/css/CRUD.css">


    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Gestión de <b>Otorgamiento de Insignia para Colaborador Administrativo</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("EventoOtorgarInsigniaLista", "OtorgarInsigniaPerfil3")" class="btn btn-success">
                                <i class="material-icons">arrow_back</i>
                                Volver
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="white-space: nowrap;"> Rut Colaborador Administrativo</th>
                            <th style="white-space: nowrap;" > Nombre Colaborador Administrativo </th>
                            <th> Registro de Insignia </th>
                            <th> Contribución Evento</th>
                            <th> Fecha registro Otorgamiento </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USUARIO_rut)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USUARIO.nombre)  @Html.DisplayFor(modelItem => item.USUARIO.apellido_paterno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.registro_insignia_evento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.contribucion_evento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha_registro_otorgamiento)
                                </td>
                                <td>
                                    <a href="#" class="edit" data-url="@Url.Action("Edit", new { USUARIO_rut = item.USUARIO_rut, EVENTO_evento_id = item.EVENTO_evento_id })">
                                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                        <span style="display: none;">Edit</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        $(document).ready(function () {
            $(".edit").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".delete").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

}

else
{
    <link rel="stylesheet" href="~/Content/css/accesodenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}