@model EmPoderTIC.Models.NOTIFICACION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NOTIFICACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solicitud_aprobada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solicitud_aprobada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSIGNIA.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSIGNIA.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.notificacion_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
