@model IEnumerable<EmPoderTIC.Models.NOTIFICACION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mensaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solicitud_aprobada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSIGNIA.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mensaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solicitud_aprobada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INSIGNIA.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.notificacion_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.notificacion_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.notificacion_id })
        </td>
    </tr>
}

</table>
