@model IEnumerable<EmPoderTIC.Models.USUARIO>

@{
    ViewBag.Title = "Index";

}

@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}


@if (Session["TipoPerfil"] != null && Session["TipoPerfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="~/Content/css/CRUD.css">


    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Gestión de <b>Usuarios</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("Create")" class="btn btn-success">
                                <i class="material-icons">&#xE147;</i>
                                Crear Nuevo Usuario
                            </a>
                            <a href="@Url.Action("Index", "InfoPerfil")" class="btn btn-success">
                                <i class="material-icons">person</i>
                                Gestionar Información de Perfil
                            </a>


                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>

                            <th> Rut </th>
                            <th> Nombre </th>
                            <th> Apellido Paterno </th>
                            <th> Apellido Materno </th>
                            <th> Correo Electrónico </th>
                            <th> Contraseña </th>
                            <th> Tipo Perfil </th>
                            <th> Estado Confirmación Registro</th>
                            <th> Estado </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td style="width: 8%;">  @Html.DisplayFor(modelItem => item.rut)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.apellido_paterno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.apellido_materno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.correo_electronico)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.contraseña)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.TIPO_PERFIL.nombre_tipo_perfil)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estado_confirmacion)
                                </td>
                                <td>
                                    @if (item.activo)
                                    {
                                        <span class="badge bg-success">Activo</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Inactivo</span>
                                    }
                                </td>
                                <td style="width: 150px;">
                                    <!-- Enlace "Edit" dentro de un botón -->
                                    <a href="#" class="edit" data-url="@Url.Action("Edit", new { id = item.rut })">
                                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                        <span style="display: none;">Edit</span>
                                    </a>

                                    <button class="btn btn-lg toggle-estado" data-url="@Url.Action("ToggleEstado", new { id = item.rut })">
                                        <span class="icon">
                                            <i class="material-icons on" style="font-size: 1.5em; color: #4CAF50; display: @(item.activo ? "inline-block" : "none")">toggle_on</i>
                                            <i class="material-icons off" style="font-size: 1.5em; color: #e74c3c; display: @(!item.activo ? "inline-block" : "none")">toggle_off</i>
                                        </span>
                                        <span style="display: none;">Toggle Estado</span>
                                    </button>


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        $(document).ready(function () {
            $(".edit").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".delete").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".toggle-estado").click(function (e) {
                e.preventDefault();

                var url = $(this).data("url");

                // Realizar la petición AJAX para cambiar el estado
                $.post(url, function () {
                    // Recargar la página después de cambiar el estado
                    location.reload();
                });
            });
        });
    </script>


}

else
{
    <link rel="stylesheet" href="~/Content/css/accesodenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}